body {
    background: #797979;
    color: #aaa;
    font-size: 1.25rem;
    margin: 4rem;
    text-align: center;
}

.about {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    color: #000;
    display: inline-block;
    padding: 2rem;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin: 1rem;
}

.about p {
    font-size: 1.25rem;
    margin: 1rem;
}